<% unless @custom_field.new_record? %>
<p>
  <label><%= l(:field_possible_values) %></label>
  <% if respond_to?(:sprite_icon) %>
    <%= link_to sprite_icon('edit', l(:button_edit)), custom_field_enumerations_path(@custom_field), :class => 'icon icon-edit' %>
  <% else %>
    <%= link_to l(:button_edit), custom_field_enumerations_path(@custom_field), :class => 'icon icon-edit' %>
  <% end %>
</p>
  <% if @custom_field.parent_custom_field_id.blank? && @custom_field.enumerations.active.any? %>
    <p><%= f.select :default_value, @custom_field.enumerations.active.map { |v| [v.name, v.id.to_s] }, include_blank: true %></p>
  <% end %>
<% end %>

<p><%= f.text_field :url_pattern, :size => 50, :label => :label_link_values_to %></p>
<p>
  <%= f.select :parent_custom_field_id,
               CustomField.where(field_format: ['enumeration', RedmineDependingCustomFields::FIELD_FORMAT_DEPENDING_ENUMERATION],
                                  type: @custom_field.type)
                          .where.not(id: @custom_field.id)
                          .map { |cf| [cf.name, cf.id.to_s] },
               {include_blank: true},
               label: :field_parent_custom_field_id %>
</p>
<% if @custom_field.parent_custom_field_id.present? %>
  <% parent_cf = CustomField.find_by(id: @custom_field.parent_custom_field_id) %>
  <%= render partial: 'custom_fields/formats/dependencies_matrix',
             locals: {parent_field: parent_cf, custom_field: @custom_field} %>
  <%= render partial: 'custom_fields/formats/default_dependencies',
             locals: {parent_field: parent_cf, custom_field: @custom_field} %>
  <% if @custom_field.is_required? && parent_cf %>
    <% dcf_mapping    = @custom_field.value_dependencies.to_h %>
    <% dcf_uncovered  = parent_cf.possible_values_options
                                  .map { |pv| (pv.is_a?(Array) ? pv[1] : pv).to_s }
                                  .reject(&:blank?)
                                  .select { |pv| Array(dcf_mapping[pv]).empty? } %>
    <% if dcf_uncovered.any? %>
      <p class="icon icon-warning"><%= l(:warning_required_child_no_options) %></p>
    <% end %>
  <% end %>
<% end %>
<p><%= f.check_box :hide_when_disabled, label: :field_hide_when_disabled %></p>
<p><%= edit_tag_style_tag f %></p>
